https://air.sebastianboyd.com {

  header {
    Cache-Control "max-age=3600, must-revalidate"
  }

  file_server browse {
    root /home/data/air-quality/svelte-frontend/public
  }

  route /api/* {
      uri strip_prefix api
      reverse_proxy  localhost:8000
  }
}