[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
apscheduler = "*"
databases = {extras = ["postgresql"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
aiohttp = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.7"
