html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    /* matched global.css */
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #e7e7e7;
    }
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

h3 {
    font-weight: 300;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 10px;
    max-width: 600px;
}

/* AQIMeter Styles */
.aqi-container {
    color: white;
    padding: 16px;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.meter {
    height: 12px;
    margin-top: 4px;
    position: relative;
    background: rgba(0, 0, 0, 0.11);
    width: calc(100% + 32px);
    padding: 0px;
    box-sizing: border-box;
    margin-left: -16px;
    margin-bottom: -16px;
}

.meter>div {
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Chart Styles (Bar & Circles) */
svg {
    position: relative;
    width: 100%;
    overflow: visible;
}

.tick {
    font-family: Helvetica, Arial;
    font-size: .725em;
    font-weight: 200;
}

.y-axis .tick line {
    stroke: #d1d1d1;
    stroke-dasharray: 2;
}

.x-axis .tick line {
    stroke: #7e7e7e;
}

.tick text {
    fill: #7e7e7e;
    text-anchor: start;
}

.tick.tick-0 line {
    stroke-dasharray: 0;
}

.x-axis .tick text {
    text-anchor: middle;
}

.bars rect {
    stroke: none;
}

.axis-label {
    font-weight: 300;
    fill: currentColor;
}

@media (prefers-color-scheme: dark) {
    .tick text {
        fill: #d1d1d1;
    }

    .y-axis .tick line {
        fill: #7e7e7e;
    }
}

/* Circles Styles */
.circle-text {
    font-size: 12px;
    text-anchor: middle;
}

.day-text {
    font-family: Helvetica, Arial;
    font-size: 0.725em;
    font-weight: 200;
    fill: #7e7e7e;
}

.key-text {
    font-family: Helvetica, Arial;
    font-size: 0.725em;
    font-weight: 200;
}